body{
    min-height: 100vh;
    background: linear-gradient(90deg,#52c4df,#ad55d1) center center no-repeat;
    background-size: cover;
}


#formularioSeccion{
    
    position: absolute;
    background:rgba(0, 0, 0, 0.5)
}


#carta{
    
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

#headerSection{
    
}

#container{
   margin-top: 20px;
}
#containerObras{
    margin-top: 130px;
}

#containerlogin{
    
}
#imgFondo{
    
}
#formulario{
   
}


